---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <section class="meta">
    <h3>Discussion</h3>
    <section class="copy">
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <img src="{{ site.gravatar_url }}?s=142" height="50" width="50" />
      </a>

      <p>
        I'm a backend developer at Yipit.com. Tell me what you think
        about what you just read. If you don't want to write a huge
        comment, <a href="https://twitter.com/{{ site.twitter }}" target="_blank">shout</a> and
        I'll answer as soon as I check my phone!
      </p>

      <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}">Tweet</a>
      <a href="http://twitter.com/{{ site.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter }}</a>
      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    </section>
  </section>
</section>
