---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <section class="meta">
    <h3>Discussion</h3>
    <section class="copy">
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <img src="{{ site.gravatar_url }}?s=142" height="43" width="43">
      </a>

      <p>
        I hope you appreciated the reading. I'd love to know your
        opinion about that as well. You can either write a comment
        here, or <a href="https://twitter.com/{{ site.twitter }}"
        target="_blank">tweet me</a> so we can talk.
      </p>

      <div id="disqus_thread"></div>
      <script type="text/javascript">
       /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
       var disqus_shortname = 'clareteli'; // required: replace example with your forum shortname

       /* * * DON'T EDIT BELOW THIS LINE * * */
       (function() {
           var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
           dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
       })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    </section>
  </section>
</section>
